---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="">
	<main class="relative z-50 -mt-32">
		<section class="">
			<div class="pt-12 pb-12 -mb-12">
				<h2 class="text-5xl font-light mb-8 w-content text-white">Submit Project</h2>
			</div>
			<div class="py-10 bg-neutral-100 min-h-svh">
				<div class="w-content relative">

				</div>
			</div>
		</section>
	</main>
</Layout>
