---
import AdminLayout from "~/layouts/AdminLayout.astro";

---

<AdminLayout title="Members · Admin">
	<div class="flex items-center">
		<h1 class="text-lg font-semibold md:text-2xl">Members</h1>
	</div>
</AdminLayout>